body {
    margin: 0;
    padding: 0;
    background-image: url('bg_img.avif'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    max-width: 800px;
}

.glass-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-box:hover {
    transform: scale(1.1);
}

a{
    color: white;
    text-decoration: none;
}